<%= render partial: "shared/standard_messages", locals: { object: comment } %>
<%= form_for(comment) do |f| %>
  <%= f.hidden_field :commentable_type, value: comment.commentable_type %>
  <%= f.hidden_field :commentable_id, value: comment.commentable_id %>
  <p>
    <%= f.label :email %>
    <br/>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comment %>
    <br/>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>