<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" ng-app="jasonrushApp">
  <head>
    <title><%= get_title %></title>
    <%= yield :feeds %>
    <%= stylesheet_link_tag "/stylesheets/default", media: "all" %>
    <%= javascript_include_tag "/javascripts/vendor/angular.min.js" %>
    <%= javascript_include_tag "/javascripts/vendor/angular-route.min.js" %>

    <%= javascript_include_tag "/javascripts/app/app.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers.js" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <%= link_to image_tag('/images/header.png', alt: "Header"), root_path %>
    </div>
    <div ng-view>
      <%= yield %>
    </div>
  </body>
</html>
