<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" ng-app="jasonrushApp">
  <head>
    <title><%= get_title %></title>
    <% Blog.all.each do |blog| %>
      <link rel="alternate" type="application/rss+xml" title="<%= 'Jason Rush: ' + blog.name.titleize %> - RSS" href="<%= rss_blog_posts_url(blog_id: blog, format: 'xml') %>" />
    <% end %>
    <%= stylesheet_link_tag "/stylesheets/default", media: "all" %>
    <%= stylesheet_link_tag "/stylesheets/post", media: "all" %>
    <%= stylesheet_link_tag "/stylesheets/menu", media: "all" %>

    <%= javascript_include_tag "/javascripts/vendor/underscore-min.js" %>

    <%= javascript_include_tag "/javascripts/vendor/angular.min.js" %>
    <%= javascript_include_tag "/javascripts/vendor/angular-route.min.js" %>
    <%= javascript_include_tag "/javascripts/vendor/angular-sanitize.min.js" %>

    <%= javascript_include_tag "/javascripts/app/app.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/dashboard.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/posts.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/post.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/menu.js" %>
    <%= javascript_include_tag "/javascripts/app/directives/menu.js" %>
    <%= javascript_include_tag "/javascripts/app/filters/trusted_html.js" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <%= link_to image_tag('/images/header.png', alt: "Header"), root_path %>
    </div>
    <div ng-view>
      <%= yield %>
    </div>
  </body>
</html>
