<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" ng-app="jasonrushApp">
  <head>
    <title><%= get_title %></title>
    <% Blog.all.each do |blog| %>
      <link rel="alternate" type="application/rss+xml" title="<%= 'Jason Rush: ' + blog.name.titleize %> - RSS" href="<%= rss_blog_posts_url(blog_id: blog, format: 'xml') %>" />
    <% end %>
    <%= stylesheet_link_tag "/stylesheets/default", media: "all" %>
    <%= stylesheet_link_tag "/stylesheets/post", media: "all" %>
    <%= stylesheet_link_tag "/stylesheets/menu", media: "all" %>
    <%= stylesheet_link_tag "/stylesheets/logout", media: "all" %>
    <%= stylesheet_link_tag "/stylesheets/admin", media: "all" %>

    <%= csrf_meta_tags %>

    <%= javascript_tag do %>
      <%= yield :redirect_js %>
      var AUTH_TOKEN = '<%= form_authenticity_token %>';
      var UNKNOWN_ERROR = "Sorry! An unknown error occurred.";
    <% end %>

    <%= javascript_include_tag "/javascripts/vendor/underscore-min.js" %>

    <%= javascript_include_tag "/javascripts/vendor/angular.min.js" %>
    <%= javascript_include_tag "/javascripts/vendor/angular-route.min.js" %>
    <%= javascript_include_tag "/javascripts/vendor/angular-sanitize.min.js" %>

    <%= javascript_include_tag "/javascripts/app/app.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/dashboard.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/posts.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/post.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/menu.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/admin/login.js" %>
    <%= javascript_include_tag "/javascripts/app/controllers/admin/new-post.js" %>

    <%= javascript_include_tag "/javascripts/app/directives/menu.js" %>
    <%= javascript_include_tag "/javascripts/app/directives/logout.js" %>
    <%= javascript_include_tag "/javascripts/app/directives/new-post-link.js" %>

    <%= javascript_include_tag "/javascripts/app/filters/trusted_html.js" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49717546-1', 'jasonrush.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="header">
      <logout></logout>
      <%= link_to image_tag('/images/header.png', alt: "Header"), root_path %>
    </div>
    <div ng-view>
      <%= yield %>
    </div>
  </body>
</html>
